
section #title {
  h1, p {
    text-align: left;
  }

  hr {
    margin-bottom: 0;
  }

  p.subtitle {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}

// .text {
//   &.small {
//     font-size: 0.9em;
//   }
// }


